################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C/Assignment1/Pyramid/.vs/Pyramid/v15
